/* remove margin */
body, main {
  margin: 0;
}

/* styleguide size */
h1 {
  font-size: 36px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
}

#imagetext {
  font-size: 14px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
}

/* chaange made, inconsistent w/ styleguide */
#linktext {
  font-size: 24px;
  font-family: 'Inconsolata';
  font-weight: normal;  
}

/* consistent with styleguide but we will not use */
#navigationtext {
  font-size: 18px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
}

#contenttext {
  font-size: 18px;
  font-family: 'Inconsolata';
  font-weight: bold;
}

/* make logo responsive at max 400 px */
.responsivelogo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* cap search icon width to 9px*/
.searchicon {
  width: 100%;
  max-width: 9px;
  height: auto;
  transform: rotate(40deg);
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #00121e;
  text-align: center
}

/* Navigation links */
.topnav a {
  float: center;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  left: 80%;       
}

  /* padding doesn't apply to top so declared outside*/
.toppad{
  padding-top: 5px;
}

/* Add a background color on mouse-over */
.topnav a:hover {
  background-color: #112E46;
}

/* Style the current/active link */
.topnav a.active {
  background-color: #112E46;
}

/* search container allign left */
.topnav .search-container {
  float: left;
}

/* text input */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 80px;
  font-size: 17px;
  border: none;
  background: #727272
}

/* backgreound styling */
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #ADADAD;
}

/* Style the search box inside the navigation bar */
.topnav .search-container button:hover {
  background: #ccc;
}

/* placeholder text colour */
::placeholder {
  color: #E7E7E7;
}

/* round button */
.roundbutton {
  border-radius: 50%;
}

/* header container */
.headbar{
  overflow: hidden;
  background-color: #00121e;
  text-align: center
}

/* row for services, have 2 boxes beside each other */
.containerservice{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  overflow: auto; 
}

/* column for services, have items list down */
.itemservice{
  flex: 50%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  overflow: auto; 
}

/* bigger container for melody page dividing to 2 */
.conatinerbigmelody {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  overflow: auto; 
}

/* smaller container column */
.containermelody {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  overflow: auto;
  background-color: #00121E;
}

/* item property */
.item{
  order: 1;
  flex-basis: auto;
  flex: 1 1 50%
}

